body { 
    background-color: #f8ecc2;
    margin-right: 15%;
    margin-left: 15%;
    font-family: "Times New Roman", Times, serif;
    text-align: justify 
}

p {
    text-indent: 5mm;
    margin-top: 0.25em;
    margin-bottom: 0.25em; 
    font-family: Georgia, serif;
}

h1 {
    font-size: 24pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h2 {
    font-size: 22pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h3 {
    font-size: 20pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h4 {
    font-size: 18pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

img{
    max-width: 35%;
    border-color: black;
    border-style: solid;
    border-width: 7px;
}


.caption{
    font-weight: bold; font-size: 70%;
    text-align: center; line-height: 1.3em; padding: .5em;
    font-family: Tahoma, Geneva, sans-serif;
    color: blue;
} 
